* @elagergren-spideroak @jdygert-spok

/canaries @jdygert-spok @elagergren-spideroak

/crates/aranya-afc-util @elagergren-spideroak @jdygert-spok
/crates/aranya-base58 @elagergren-spideroak @jdygert-spok
/crates/aranya-buggy @jdygert-spok @elagergren-spideroak
/crates/aranya-libc @elagergren-spideroak @jdygert-spok

/crates/aranya-capi* @elagergren-spideroak @jdygert-spok @chip-so

/crates/aranya-crypto* @elagergren-spideroak @ycarmy

/crates/aranya-device-ffi @chip-so @jdygert-spok @rfraser-spideroak
/crates/aranya-envelope-ffi @elagergren-spideroak @ycarmy
/crates/aranya-idam-ffi @elagergren-spideroak @ycarmy
/crates/aranya-model @smckeon-so @jdygert-spok
/crates/aranya-perspective-ffi @apetkov-so @chip-so

/crates/aranya-policy-* @chip-so @apetkov-so
/crates/aranya-policy-ifgen* @jdygert-spok @elagergren-spideroak
/crates/aranya-policy-derive @elagergren-spideroak @chip-so

/crates/aranya-quic-syncer @benz-spideroak @jdygert-spok
/crates/aranya-runtime @jdygert-spok @elagergren-spideroak

/.github @djohnson-spideroak @elagergren-spideroak @gknopf-aranya @jdygert-spok

CHANGELOG.md @benz-spideroak @chip-so @djohnson-spideroak @elagergren-spideroak @gknopf-aranya @jdygert-spok
