* @elagergren @jdygert

/canaries @jdygert @elagergren

/crates/afc-util @elagergren @jdygert
/crates/base58 @elagergren @jdygert
/crates/aranya-buggy @jdygert @elagergren

/crates/aranya-crypto @elagergren @ycarmy
/crates/crypto* @elagergren @ycarmy

/crates/device-ffi @rfraser @chip
/crates/envelope-ffi @elagergren @ycarmy
/crates/idam-ffi @elagergren @ycarmy
/crates/model @smckeon @jdygert
/crates/perspective-ffi @apetkov @chip

/crates/policy-* @chip @apetkov
/crates/policy-ifgen* @jdygert @elagergren
/crates/policy-derive @elagergren @chip

/crates/quic-syncer @bzimmerman @jdygert
/crates/rtrack @elagergren @jdygert
/crates/rtrack-derive @elagergren @jdygert
/crates/runtime @jdygert @elagergren

/.github @elagergren @jdygert
