enum Result { OK, Err }
action test() {
    let ok = Result::OK
    check ok == Result::OK else test_fail("check failed")
    check ok != Result::Err else test_fail("check failed")

    match ok {
        Result::OK => {}
        Result::Err => {}
    }
}
