// The "crypto" namespace describes crypto engine APIs that are accessible to the policy.
// 
foreign namespace crypto {
    encryption_key_id(PublicEncryptKey bytes) keyId
    signing_key_id(PublicSignKey bytes) keyId
    generate_group_key() struct
    seal_group_key(GroupKeyWrap bytes, PeerEncryptKey bytes, GroupID eventId) struct
    unseal_group_key(SealedGroupKey (bytes, bytes), PublicEncryptKey bytes, GroupID eventId) struct
    encrypt_message(Plaintext bytes, GroupKeyWrap bytes, Parent userId, PublicSignKey bytes) bytes
    decrypt_message(Ciphertext bytes, GroupKeyWrap bytes, Parent userId, PeerSignKey bytes) bytes
    compute_change_id(NewEvent eventId, CurrentChangeID changeId) changeId
}