base command(ephemeral) Ephemeral {
    get_key { return None }
}
command Cmd with Ephemeral {
    fields {}
    policy {
        finish {}
    }
}
action test() {
    publish Cmd {}
}
