struct Bar { a int }
command Foo {
    fields {
        +Bar,
        a string
    }
    seal { return todo() }
    open { return todo() }
    policy {
        finish {}
    }
}
