let context = "place this here so the struct defintion goes down a line"
struct Bar { a int }
command Foo {
    fields {
        +Bar,
        a bool // Duplicate field `a`
    }
    seal { return todo() }
    open { return todo() }
    policy {
        finish {}
    }
}
