command Cmd {
    fields { x int }
    seal { return todo() }
    open { return todo() }
    policy {
        recall handle(this.x)
    }
    recall handle(x int) {
    }
}
