// A `map ... as` binding is checked like any other local.
struct Envelope {}
fact User[i int]=>{name string}
command Foo {
    seal { return Envelope {} }
    open { return Unit }
    policy {
        finish {}
    }
}
action map_unused() {
    map User[i:?] as u {
        // u is unused
    }
    publish Foo {}
}
