fact F[i int] => {}
command C {
    fields {}
    seal { return todo() }
    open { return todo() }
    policy {
        finish {
            delete F[i:?]
        }
    }
}
