fact Foo[x int, y int] => {}
action test() result[unit, string] {
    check exists Foo[x: ?, y: 42] => {} else return Err("check failed")
    return Ok(Unit)
}
