fact Foo[i int] => {a string}
action test() result[unit, string] {
    check exists Foo[i:0, j:1] else return Err("check failed")
    return Ok(Unit)
}
