fact Foo[i int] => {a string}
command Test {
    seal { return todo() }
    open { return todo() }
    policy {
        finish {
            // Tests the short form of the update syntax. https://aranya-project.github.io/policy-book/reference/statements/update
            update Foo[i: 1] to {a: "updated"}
        }
    }
}
