[package]
name = "aranya-policy-compiler"
description = "The Aranya Policy Compiler"
version = "0.20.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[features]
default = []

[dependencies]
aranya-policy-ast = { version = "0.12.1", path = "../aranya-policy-ast" }
aranya-policy-lang = { version = "0.13.0", path = "../aranya-policy-lang" }
aranya-policy-module = { version = "0.18.1", path = "../aranya-policy-module", features = ["std"] }
buggy = { version = "0.1.0", features = ["std"] }

ciborium = { version = "0.2" }
clap = { version = "4.4", features = ["derive"] }
indexmap = { workspace = true, default-features = false, features = ["serde"] }
petgraph = { version = "0.8" }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
anyhow = { workspace = true }
insta = { workspace = true }
rstest = { workspace = true }
serde_json = { workspace = true }
