[package]
name = "aranya-policy-module"
description = "The Aranya Policy module format"
version = "0.18.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
aranya-id = { version = "0.2.1", path = "../aranya-id" }
aranya-policy-ast = { version = "0.12.0", path = "../aranya-policy-ast" }

fnv = { workspace = true, default-features = false }
indexmap = { workspace = true, default-features = false, features = ["serde"] }
proptest = { workspace = true, default-features = false, features = ["std"], optional = true }
proptest-derive = { workspace = true, optional = true }
rkyv = { workspace = true, features = ["alloc", "indexmap-2"] }
serde = { workspace = true, default-features = false, features = ["derive"] }
thiserror = { workspace = true }

[features]
default = []

proptest = [
	"aranya-id/proptest",
	"aranya-policy-ast/proptest",
	"dep:proptest",
	"dep:proptest-derive",
	"std",
]

# Enable `std`.
std = [
	"aranya-policy-ast/std",
	"serde/std",
	"thiserror/std",
]

testing = []

[lints]
workspace = true

[package.metadata.cargo-machete]
ignored = [
	# used in proptest-derive expansion
	"proptest",
]
