[package]
name = "aranya-policy-module"
description = "The Aranya Policy module format"
version = "0.18.1"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
aranya-policy-ast = { version = "0.12.1", path = "../aranya-policy-ast" }

fnv = { workspace = true, default-features = false }
indexmap = { workspace = true, default-features = false, features = ["serde"] }
rkyv = { workspace = true, features = ["alloc", "indexmap-2"] }
serde = { workspace = true, default-features = false, features = ["derive"] }
thiserror = { workspace = true }

[features]
default = []

# Enable `std`.
std = [
	"aranya-policy-ast/std",
	"serde/std",
	"thiserror/std",
]

testing = []

[lints]
workspace = true
