action f(n int) result[unit, string] {
    let b = match n {
        0 => false
        _ => true
    }
    check b else return Err("check failed")
    return Ok(Unit)
}
