enum LightColor {
    Red, Yellow, Green
}

struct Light {
    color enum LightColor,
    go bool
}

action f(traffic struct Light) {
    let x = match traffic {
        Light {  color: LightColor::Red, go: false } => 0
        Light {  color: LightColor::Red, go: true } => 1
        Light {  color: LightColor::Yellow, go: false } => 2
        Light {  color: LightColor::Yellow, go: true } => 3
        Light {  color: LightColor::Green, go: false } => 4
        Light {  color: LightColor::Green, go: true } => 5
    }
}
