enum LightColor {
    Red, Yellow, Green
}

struct ColorName {
    color enum LightColor,
    name string
}

action f(c struct ColorName) {
    let x = match c {
        ColorName {  color: LightColor::Red, name: "red" } => 0
        ColorName {  color: LightColor::Yellow, name: "yellow" } => 1
        ColorName {  color: LightColor::Green, name: "green" } => 2
    }
}
