struct Foo { x int, y bool }
struct Bar { x int, y bool, z string }
function baz(foo struct Foo) struct Bar {
    return Bar {
        z: "z",
        ...foo
    }
}