struct Foo {
    a int,
    b string,
}
command Bar {
    fields {
        a int,
        b string,
    }
    seal { return todo() }
    open { return todo() }
    policy {
        finish {}
    }
}
action convert() {
    let bar = Foo { a: 1, b: "test" } as Bar
    publish bar
}
