struct CommonStruct {
    n int,
}

enum CommonEnum {
    No,
    Yes,
}

struct Input {
    x int,
    y bool,
    z string,
    w struct CommonStruct,
    v enum CommonEnum,
}

struct Output {
    x int,
    y bool,
    w struct CommonStruct,
    v enum CommonEnum,
}

function convert(input struct Input) struct Output {
    return input substruct Output
}
