command Foo {
    fields {
        x int,
        y bool,
        z string,
    }
    policy {
        finish {}
    }
}
struct Bar {
    x int,
    y bool,
}
action baz(source struct Bar) {
    publish source substruct Foo
}
