fact Pet[name string]=>{age int}
action pets() {
    map Pet[name:?] as p {
        let n = 42
    }
    check n == 42 else todo() // should not be accessible outside the block
}
