fact Pet[name string]=>{age int}
action pets() {
    let n = 42
    map Pet[name:?] as p {
        check p.age > 0 else test_fail("check failed")
        check n == 42 else test_fail("check failed")
    }
}
