fact Pet[name string]=>{age int}
action pets() result[unit, string] {
    map Pet[name:?] as p {
        let n = 42
    }
    check n == 42 else return Err("check failed") // should not be accessible outside the block
    return Ok(Unit)
}
