fact Pet[name string]=>{age int}
action pets() result[unit, string] {
    check p == None else return Err("check failed")
    map Pet[name:?] as p {}
    return Ok(Unit)
}
