fact Pet[name string]=>{age int}
action pets() {
    let n = 42
    map Pet[name:?] as p {
        check p.age > 0 else todo()
        check n == 42 else todo()
    }
}
