[package]
name = "aranya-policy-vm"
description = "The Aranya Policy Virtual Machine"
version = "0.19.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[lib]

[features]
default = []

# Enable `FfiModule` derivation.
derive = []

# Enable `std`.
std = [
	"aranya-crypto/std",
	"aranya-policy-ast/std",
	"buggy/std",
	"thiserror/std",
]

proptest = [
	"aranya-id/proptest",
	"aranya-policy-ast/proptest",
	"dep:proptest",
	"dep:proptest-derive",
	"std",
]

bench = ["dep:table_formatter", "std"]

[dependencies]
aranya-crypto = { version = "0.13.0", path = "../aranya-crypto", default-features = false }
aranya-id = { version = "0.2.1", path = "../aranya-id", default-features = false }
aranya-policy-ast = { version = "0.12.1", path = "../aranya-policy-ast" }
aranya-policy-derive = { version = "0.14.0", path = "../aranya-policy-derive" }
aranya-policy-module = { version = "0.18.1", path = "../aranya-policy-module" }
buggy = { version = "0.1.0", features = ["alloc"] }

heapless = { workspace = true }
postcard = { workspace = true, features = ["alloc"] }
serde = { workspace = true, default-features = false, features = ["derive"] }
table_formatter = { version = "0.6.1", optional = true }
thiserror = { workspace = true }

# Optional proptest impls
proptest = { workspace = true, default-features = false, features = ["std"], optional = true }
proptest-derive = { workspace = true, optional = true }

[dev-dependencies]
aranya-crypto = { path = "../aranya-crypto", default-features = false, features = ["alloc", "getrandom"] }
aranya-policy-compiler = { path = "../aranya-policy-compiler" }
aranya-policy-lang = { path = "../aranya-policy-lang" }
aranya-policy-module = { path = "../aranya-policy-module", features = ["testing"] }
aranya-policy-vm = { path = ".", features = ["derive"] }

anyhow = { workspace = true }
ciborium = { version = "0.2" }

[package.metadata.docs.rs]
all-features = true

[package.metadata.cargo-all-features]
always_include_features = []

skip_feature_sets = [
	["bench", "std"],
]

denylist = []

[package.metadata.cargo-machete]
ignored = [
	# used in proptest-derive expansion
	"proptest",
]
