let x = 42
let z = true

action foo() result[unit, unit] {
    let a = add(x, 1) or return Err(Unit)
    let c = !z
    emit Bar {
        a: a,
        c: c,
    }
    return Ok(Unit)
}
