[package]
name = "aranya-policy-runner"
description = "The Aranya Policy Runner"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]

[dependencies]
anyhow = { workspace = true }
aranya-afc-util = { version = "0.20.0", path = "../aranya-afc-util" }
aranya-crypto = { version = "0.12.0", path = "../aranya-crypto", features = ["fs-keystore"] }
aranya-crypto-ffi = { version = "0.18.0", path = "../aranya-crypto-ffi" }
aranya-device-ffi = { version = "0.18.0", path = "../aranya-device-ffi" }
aranya-envelope-ffi = { version = "0.18.0", path = "../aranya-envelope-ffi" }
aranya-idam-ffi = { version = "0.18.0", path = "../aranya-idam-ffi" }
aranya-perspective-ffi = { version = "0.18.0", path = "../aranya-perspective-ffi" }
aranya-policy-compiler = { version = "0.19.0", path = "../aranya-policy-compiler", features = ["internals"] }
aranya-policy-ifgen = { version = "0.19.0", path = "../aranya-policy-ifgen" }
aranya-policy-lang = { version = "0.12.0", path = "../aranya-policy-lang" }
aranya-policy-vm = { version = "0.18.0", path = "../aranya-policy-vm" }
aranya-runtime = { version = "0.19.0", path = "../aranya-runtime", features = ["std", "libc"] }
clap = { version = "4.5", features = ["derive"] }
postcard = { workspace = true }
rand = { workspace = true, features = ["std_rng"] }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["fmt"] }

[build-dependencies]
aranya-policy-ifgen-build = { version = "0.12.0", path = "../aranya-policy-ifgen-build" }

[lints]
workspace = true

# TODO - remove these
[features]
preview = []
afc = []
