struct Foo {
    x int,
    y string,
}
struct Bar {
    y string
}
action foo(x struct Foo) {
    let b = Bar { y: "y" }
    match x {
        Foo { x: 10, ...b } => {}
        _ => {}
    }
}
