command Result {
    fields {
        x int
    }
    policy { }
}

action foo(x int) {
    match x {
        5 => {
            publish Result { x }
        }
        _ => {
            publish Result { x: 0 }
        }
        6 => {
            publish Result { x }
        }
    }
}
