command Result {
    fields {
        x int
    }
    policy {
        finish {}
    }
}

action foo(x int) {
    match x {
        5 => {
            publish Result { x }
        }
        6 => {
            publish Result { x }
        }
        5 => {
            publish Result { x }
        }
    }
}
