[package]
name = "aranya-runtime"
description = "The Aranya core runtime"
version = "0.20.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
buggy = { version = "0.1.0", features = ["alloc"] }
# `aranya-crypto` enables `getrandom` by default.
aranya-crypto = { version = "0.13.0", path = "../aranya-crypto", default-features = false, features = ["alloc", "rand_compat"] }
aranya-libc = { version = "0.4.0", path = "../aranya-libc", default-features = false, optional = true }
aranya-policy-vm = { version = "0.19.0", path = "../aranya-policy-vm" }

heapless = { workspace = true, features = ["serde"] }
postcard = { workspace = true, features = ["alloc"] }
rkyv = { workspace = true }
serde = { workspace = true, default-features = false, features = ["derive", "alloc"] }
spideroak-base58 = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
vec1 = { version = "1.10.1", default-features = false, features = ["serde"] }
yoke = { version = "0.8", features = ["derive"] }

# Used by `testing`.
aranya-policy-module = { version = "0.18.1", path = "../aranya-policy-module", optional = true }
serde_json = { version = "1.0.117", default-features = false, features = ["alloc"], optional = true }
spin = { workspace = true, features = ["spin_mutex"], optional = true }

# graphviz
dot-writer = { version = "0.1.3", optional = true }

[dev-dependencies]
aranya-runtime = { path = ".", features = ["testing", "libc", "std"] }

aranya-crypto = { path = "../aranya-crypto", features = ["getrandom"] }
aranya-libc = { path = "../aranya-libc", features = ["std"] }
aranya-policy-compiler = { path = "../aranya-policy-compiler" }
aranya-policy-lang = { path = "../aranya-policy-lang" }
aranya-policy-vm = { path = "../aranya-policy-vm", features = ["proptest"] }

rand = { workspace = true }
proptest = { workspace = true, default-features = true }
serde_json = { version = "1.0.117", default-features = false, features = ["alloc"] }
tempfile = { version = "3.9.0" }
test-log = { workspace = true }
tracing-subscriber = { workspace = true, default-features = true } # affects features used by test-log

[[bench]]
name = "vm"
path = "benches/vm.rs"
harness = false
required-features = ["bench"]

[features]
default = []

low-mem-usage = []

bench = ["aranya-policy-vm/bench"]

# Enable `libc`.
libc = [
	"dep:aranya-libc",
]

std = [
	"aranya-crypto/std",
	"aranya-libc?/std",
	"aranya-policy-vm/std",
	"buggy/std",
	"postcard/use-std",
	"serde/std",
	"spin/std",
	"tracing/std",
	"vec1/std",
]

testing = [
	"aranya-crypto/rand_compat",
	"aranya-policy-vm/derive",

	"dep:aranya-policy-module",
	"dep:serde_json",
	"dep:spin",
]

graphviz = ["dep:dot-writer"]

[package.metadata.cargo-all-features]
always_include_features = [
	"graphviz",
	"libc",
	"std",
	"testing",
]

# low-mem-usage breaks brittle dsl tests and is only
# needed for the embedded build so we exclude it here.
denylist = ["low-mem-usage"]
