name: "Generate Docs"

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
    types: [checks_requested]
  workflow_dispatch:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string

permissions:
  contents: read

env:
  REV: ${{ github.run_id }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.workflow }}
  cancel-in-progress: true

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Generate docs
        env:
          RUSTDOCFLAGS: "-Dwarnings"
        run: |
          cargo make gen-docs
          cargo make zip-docs

      - name: Publish docs
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs.zip
          if-no-files-found: error
